!!!
%html
  %body
    - if params[:yeild_only] == "true"
      = yield
    - else
      %title DECO3500 Demo
      %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
      = csrf_meta_tags
      = csp_meta_tag
      = stylesheet_link_tag "application", "data-turbo-track": "reload"
      = render "layouts/nav"
      = render "layouts/notice"
      %div.container.p-4
        = yield
      - if action_name == "index" or action_name == "show" or action_name == "landing"
        = render "layouts/ajax_popup"
      = javascript_include_tag :bootstrap
